In [1]:
### Blog: 
http://atuljha.com/blog/2017/10/01/playing-with-python-pandas/

In [ ]:
### Import pandas library and call it as pd.
import pandas as pd

In [2]:
### Load the CSV file
pd.read_csv("litrate.csv")

,State/ UTs,1951,1961,1971,1981,1991,2001,2011
0,Andaman and Nicobar Islands,30.30,40.07,51.15,63.19,73.02,81.30,86.6
1,Andhra Pradesh,NaN,21.19,24.57,35.66,44.08,60.47,67.0
2,Arunachal Pradesh,NaN,7.13,11.29,25.55,41.59,54.34,65.4
3,Assam,18.53,32.95,33.94,NaN,52.89,63.25,72.2
4,Bihar,13.49,21.95,23.17,32.32,37.49,47.00,61.8
5,Chandigarh,NaN,NaN,70.43,74.80,77.81,81.94,86.0
6,Chhattisgarh,9.41,18.14,24.08,32.63,42.91,64.66,70.3
7,Dadra and Nagar Haveli,NaN,NaN,18.13,32.90,40.71,57.63,76.2
8,Daman and Diu,NaN,NaN,NaN,NaN,71.20,78.18,87.1
9,Delhi,NaN,61.95,65.08,71.94,75.29,81.67,86.2
10,Goa,23.48,35.41,51.96,65.71,75.51,82.01,88.7
11,Gujarat,21.82,31.47,36.95,44.92,61.29,69.14,78.0
12,Haryana,NaN,NaN,25.71,37.13,55.85,67.91,75.6
13,Himachal Pradesh,NaN,NaN,NaN,NaN,63.86,76.48,82.8
14,Jammu and Kashmir,NaN,12.95,21.71,30.64,NaN,55.52,67.2
15,Jharkhand,12.93,21.14,23.87,35.03,41.39,53.56,66.4
16,Karnataka,NaN,29.80,36.83,46.21,56.04,66.64,75.4
17,Kerala,47.18,55.08,69.75,78.85,89.81,90.86,94.0
18,Lakshadweep,15.23,27.15,51.76,68.42,81.78,86.66,91.8
19,Madhya Pradesh,13.16,21.41,27.27,38.63,44.67,63.74,69.3
20,Maharashtra,27.91,35.08,45.77,57.24,64.87,76.88,82.3
21,Manipur,12.57,36.04,38.47,49.66,59.89,70.53,76.9
22,Meghalaya,NaN,26.92,29.49,42.05,49.10,62.56,74.4
23,Mizoram,31.14,44.01,53.80,59.88,82.26,88.80,91.3
24,Nagaland,10.52,21.95,33.78,50.28,61.65,66.59,79.6
25,Odisha,15.80,21.66,26.18,33.62,49.09,63.08,72.9
26,Puducherry,NaN,43.65,53.38,65.14,74.74,81.24,85.8
27,Punjab,NaN,NaN,34.12,43.37,58.51,69.65,75.8
28,Rajasthan,8.50,18.12,22.57,30.11,38.55,60.41,66.1
29,Sikkim,NaN,NaN,17.74,34.05,56.94,68.81,81.4
30,Tamil Nadu,NaN,36.39,45.40,54.39,62.66,73.45,80.1
31,Tripura,NaN,20.24,30.98,50.10,60.44,73.19,87.2
32,Uttar Pradesh,12.02,20.87,23.99,32.65,40.71,56.27,67.7
33,Uttarakhand,18.93,18.05,33.26,46.06,57.75,71.62,78.8
34,West Bengal,24.61,34.46,38.86,48.65,57.70,68.64,76.3

In [5]:
### save CSV file in dataframe 
df = pd.read_csv("litrate.csv")

In [6]:
df

,State/ UTs,1951,1961,1971,1981,1991,2001,2011
0,Andaman and Nicobar Islands,30.30,40.07,51.15,63.19,73.02,81.30,86.6
1,Andhra Pradesh,NaN,21.19,24.57,35.66,44.08,60.47,67.0
2,Arunachal Pradesh,NaN,7.13,11.29,25.55,41.59,54.34,65.4
3,Assam,18.53,32.95,33.94,NaN,52.89,63.25,72.2
4,Bihar,13.49,21.95,23.17,32.32,37.49,47.00,61.8
5,Chandigarh,NaN,NaN,70.43,74.80,77.81,81.94,86.0
6,Chhattisgarh,9.41,18.14,24.08,32.63,42.91,64.66,70.3
7,Dadra and Nagar Haveli,NaN,NaN,18.13,32.90,40.71,57.63,76.2
8,Daman and Diu,NaN,NaN,NaN,NaN,71.20,78.18,87.1
9,Delhi,NaN,61.95,65.08,71.94,75.29,81.67,86.2
10,Goa,23.48,35.41,51.96,65.71,75.51,82.01,88.7
11,Gujarat,21.82,31.47,36.95,44.92,61.29,69.14,78.0
12,Haryana,NaN,NaN,25.71,37.13,55.85,67.91,75.6
13,Himachal Pradesh,NaN,NaN,NaN,NaN,63.86,76.48,82.8
14,Jammu and Kashmir,NaN,12.95,21.71,30.64,NaN,55.52,67.2
15,Jharkhand,12.93,21.14,23.87,35.03,41.39,53.56,66.4
16,Karnataka,NaN,29.80,36.83,46.21,56.04,66.64,75.4
17,Kerala,47.18,55.08,69.75,78.85,89.81,90.86,94.0
18,Lakshadweep,15.23,27.15,51.76,68.42,81.78,86.66,91.8
19,Madhya Pradesh,13.16,21.41,27.27,38.63,44.67,63.74,69.3
20,Maharashtra,27.91,35.08,45.77,57.24,64.87,76.88,82.3
21,Manipur,12.57,36.04,38.47,49.66,59.89,70.53,76.9
22,Meghalaya,NaN,26.92,29.49,42.05,49.10,62.56,74.4
23,Mizoram,31.14,44.01,53.80,59.88,82.26,88.80,91.3
24,Nagaland,10.52,21.95,33.78,50.28,61.65,66.59,79.6
25,Odisha,15.80,21.66,26.18,33.62,49.09,63.08,72.9
26,Puducherry,NaN,43.65,53.38,65.14,74.74,81.24,85.8
27,Punjab,NaN,NaN,34.12,43.37,58.51,69.65,75.8
28,Rajasthan,8.50,18.12,22.57,30.11,38.55,60.41,66.1
29,Sikkim,NaN,NaN,17.74,34.05,56.94,68.81,81.4
30,Tamil Nadu,NaN,36.39,45.40,54.39,62.66,73.45,80.1
31,Tripura,NaN,20.24,30.98,50.10,60.44,73.19,87.2
32,Uttar Pradesh,12.02,20.87,23.99,32.65,40.71,56.27,67.7
33,Uttarakhand,18.93,18.05,33.26,46.06,57.75,71.62,78.8
34,West Bengal,24.61,34.46,38.86,48.65,57.70,68.64,76.3

In [7]:
### List top 5 rows of the Dataset
df.head()

                    State/ UTs   1951   1961   1971   1981   1991   2001  2011
0  Andaman and Nicobar Islands  30.30  40.07  51.15  63.19  73.02  81.30  86.6
1               Andhra Pradesh    NaN  21.19  24.57  35.66  44.08  60.47  67.0
2            Arunachal Pradesh    NaN   7.13  11.29  25.55  41.59  54.34  65.4
3                        Assam  18.53  32.95  33.94    NaN  52.89  63.25  72.2
4                        Bihar  13.49  21.95  23.17  32.32  37.49  47.00  61.8

In [8]:
### Identify the type of Dataframe
type(df)

pandas.core.frame.DataFrame

In [10]:
### Investigate the number of rows and coloumns of the Dataframe
df.shape

(35, 8)

In [11]:
### Titles of the coloumns
df.columns

Index([u'State/ UTs', u'1951', u'1961', u'1971', u'1981', u'1991', u'2001',
       u'2011'],
      dtype='object')

In [12]:
### List datatypes of the Dataframe
df.dtypes

State/ UTs     object
1951          float64
1961          float64
1971          float64
1981          float64
1991          float64
2001          float64
2011          float64
dtype: object

In [16]:
### Content of coloumn name '1991'
df['1991']

0     73.02
1     44.08
2     41.59
3     52.89
4     37.49
5     77.81
6     42.91
7     40.71
8     71.20
9     75.29
10    75.51
11    61.29
12    55.85
13    63.86
14      NaN
15    41.39
16    56.04
17    89.81
18    81.78
19    44.67
20    64.87
21    59.89
22    49.10
23    82.26
24    61.65
25    49.09
26    74.74
27    58.51
28    38.55
29    56.94
30    62.66
31    60.44
32    40.71
33    57.75
34    57.70
Name: 1991, dtype: float64

In [17]:
### Rename columns name from 'State/ UTs' to 'State'
df.rename(columns={'State/ UTs': 'State'}, inplace=True)

In [18]:
### List the Dataframe
df

,State,1951,1961,1971,1981,1991,2001,2011
0,Andaman and Nicobar Islands,30.30,40.07,51.15,63.19,73.02,81.30,86.6
1,Andhra Pradesh,NaN,21.19,24.57,35.66,44.08,60.47,67.0
2,Arunachal Pradesh,NaN,7.13,11.29,25.55,41.59,54.34,65.4
3,Assam,18.53,32.95,33.94,NaN,52.89,63.25,72.2
4,Bihar,13.49,21.95,23.17,32.32,37.49,47.00,61.8
5,Chandigarh,NaN,NaN,70.43,74.80,77.81,81.94,86.0
6,Chhattisgarh,9.41,18.14,24.08,32.63,42.91,64.66,70.3
7,Dadra and Nagar Haveli,NaN,NaN,18.13,32.90,40.71,57.63,76.2
8,Daman and Diu,NaN,NaN,NaN,NaN,71.20,78.18,87.1
9,Delhi,NaN,61.95,65.08,71.94,75.29,81.67,86.2
10,Goa,23.48,35.41,51.96,65.71,75.51,82.01,88.7
11,Gujarat,21.82,31.47,36.95,44.92,61.29,69.14,78.0
12,Haryana,NaN,NaN,25.71,37.13,55.85,67.91,75.6
13,Himachal Pradesh,NaN,NaN,NaN,NaN,63.86,76.48,82.8
14,Jammu and Kashmir,NaN,12.95,21.71,30.64,NaN,55.52,67.2
15,Jharkhand,12.93,21.14,23.87,35.03,41.39,53.56,66.4
16,Karnataka,NaN,29.80,36.83,46.21,56.04,66.64,75.4
17,Kerala,47.18,55.08,69.75,78.85,89.81,90.86,94.0
18,Lakshadweep,15.23,27.15,51.76,68.42,81.78,86.66,91.8
19,Madhya Pradesh,13.16,21.41,27.27,38.63,44.67,63.74,69.3
20,Maharashtra,27.91,35.08,45.77,57.24,64.87,76.88,82.3
21,Manipur,12.57,36.04,38.47,49.66,59.89,70.53,76.9
22,Meghalaya,NaN,26.92,29.49,42.05,49.10,62.56,74.4
23,Mizoram,31.14,44.01,53.80,59.88,82.26,88.80,91.3
24,Nagaland,10.52,21.95,33.78,50.28,61.65,66.59,79.6
25,Odisha,15.80,21.66,26.18,33.62,49.09,63.08,72.9
26,Puducherry,NaN,43.65,53.38,65.14,74.74,81.24,85.8
27,Punjab,NaN,NaN,34.12,43.37,58.51,69.65,75.8
28,Rajasthan,8.50,18.12,22.57,30.11,38.55,60.41,66.1
29,Sikkim,NaN,NaN,17.74,34.05,56.94,68.81,81.4
30,Tamil Nadu,NaN,36.39,45.40,54.39,62.66,73.45,80.1
31,Tripura,NaN,20.24,30.98,50.10,60.44,73.19,87.2
32,Uttar Pradesh,12.02,20.87,23.99,32.65,40.71,56.27,67.7
33,Uttarakhand,18.93,18.05,33.26,46.06,57.75,71.62,78.8
34,West Bengal,24.61,34.46,38.86,48.65,57.70,68.64,76.3

In [47]:
### A new variable name 'subset' to store only ['State','1991', '2001', '2011'] coloumn.
subset = df[['State','1991', '2001', '2011']]

In [48]:
### The output of the variable.
subset

                          State   1991   2001  2011
0   Andaman and Nicobar Islands  73.02  81.30  86.6
1                Andhra Pradesh  44.08  60.47  67.0
2             Arunachal Pradesh  41.59  54.34  65.4
3                         Assam  52.89  63.25  72.2
4                         Bihar  37.49  47.00  61.8
5                    Chandigarh  77.81  81.94  86.0
6                  Chhattisgarh  42.91  64.66  70.3
7        Dadra and Nagar Haveli  40.71  57.63  76.2
8                 Daman and Diu  71.20  78.18  87.1
9                         Delhi  75.29  81.67  86.2
10                          Goa  75.51  82.01  88.7
11                      Gujarat  61.29  69.14  78.0
12                      Haryana  55.85  67.91  75.6
13             Himachal Pradesh  63.86  76.48  82.8
14            Jammu and Kashmir    NaN  55.52  67.2
15                    Jharkhand  41.39  53.56  66.4
16                    Karnataka  56.04  66.64  75.4
17                       Kerala  89.81  90.86  94.0
18                  Lakshadweep  81.78  86.66  91.8
19               Madhya Pradesh  44.67  63.74  69.3
20                  Maharashtra  64.87  76.88  82.3
21                      Manipur  59.89  70.53  76.9
22                    Meghalaya  49.10  62.56  74.4
23                      Mizoram  82.26  88.80  91.3
24                     Nagaland  61.65  66.59  79.6
25                       Odisha  49.09  63.08  72.9
26                   Puducherry  74.74  81.24  85.8
27                       Punjab  58.51  69.65  75.8
28                    Rajasthan  38.55  60.41  66.1
29                       Sikkim  56.94  68.81  81.4
30                   Tamil Nadu  62.66  73.45  80.1
31                      Tripura  60.44  73.19  87.2
32                Uttar Pradesh  40.71  56.27  67.7
33                  Uttarakhand  57.75  71.62  78.8
34                  West Bengal  57.70  68.64  76.3

In [23]:
### Content of Row 10 in variable subset.
subset.loc[9]

State    Delhi
1991     75.29
2001     81.67
2011      86.2
Name: 9, dtype: object

In [31]:
### This is what we needed, the dataframe with Assam, Bihar and Gujarat for year 1991, 2001 and 2011.
subset.loc[[3,4,11]]

      State   1991   2001  2011
3     Assam  52.89  63.25  72.2
4     Bihar  37.49  47.00  61.8
11  Gujarat  61.29  69.14  78.0

In [35]:
data = subset.loc[[3,4,11]]

In [36]:
data

      State   1991   2001  2011
3     Assam  52.89  63.25  72.2
4     Bihar  37.49  47.00  61.8
11  Gujarat  61.29  69.14  78.0